@*@model IEnumerable<UploadDataToDB.Models.Content>*@ 
@*@model IEnumerable<UploadDataToDB.Models.UserCart>*@

<div id="wait" style="display:none;width:69px;height:69px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><b class="loader" width="64" height="64"><br>Loading..</b></div>
@*@if (Session["Role"] != null)
{
    <div id="MyorderPartial1">
        @Html.Partial("MyorderPartialAdmin");
    </div>
}
else
{*@
    <div id="MyorderPartial">
        @Html.Partial("MyorderPartial");
    </div>
@*}*@


<style>
    /*body > *:not(#wait) {
      
        filter: blur(3px);
    }*/

</style>
<script>
    $('.dropdown-toggle').click(function (e) {
        $('.dropdown-toggle').dropdown();
    });

    $('.btn_Confirmation').on('click', function () {

        var UserId = $('#hiddenUserId').val();
        alert(UserId);
         $.ajax({
            url: "/Home/OrderConfirmation",

             datatype: "text",
             type: "Get",
             data: { UserId: UserId },
             success: function (data) {
                $('#MyorderPartial').html(data)


             },
             error: function (xhr) {
                 alert(xhr.statusText);
             }

         });
    });



 $('.btn_RemoveALL').on('click', function () {
     var UserId = $('#hiddenUserId').val();
            @*@Session["UserId"].ToString();*@
        var ProductId = $(this).attr("id");
        $.ajax({
            url: "/Home/RemoveALL",

            datatype: "text",
            type: "Get",
            data: { ProductId: ProductId, UserId: UserId },

            success: function (data) {
                $('#MyorderPartial').html(data)
                //$('#spnCart').html(data)

            },
            error: function (xhr) {
                alert(xhr.statusText);
            }

        });

    });


    $('.btn_Remove').on('click', function () {
        var UserId = $('#hiddenUserId').val();
            @*@Session["UserId"].ToString();*@
        var ProductId = $(this).attr("id");
        $.ajax({
            url: "/Home/Remove",

            datatype: "text",
            type: "Get",
            data: { ProductId: ProductId, UserId: UserId },

            success: function (data) {
                $('#MyorderPartial').html(data)
                //$('#spnCart').html(data)

            },
            error: function (xhr) {
                alert(xhr.statusText);
            }

        });

    });

       $('.AddTo').click(function () {

            var productid = $(this).attr("id");
            //  var productid = $('#ID').html();
            var UserId = $('#hiddenUserId').val();
                @*'@Session["UserId"].ToString()';*@

            $.ajax({
                url: "/Home/AddQuantity",

                datatype: "text",
                type: "Get",
                data: { ProductId: productid, UserId: UserId },

                success: function (data) {
                    $('#MyorderPartial').html(data)
                    //$('#spnCart').html(data)

                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });

    });



       $(document).ready(function () {
           $(document).ajaxStart(function () {
               $('#wait').css("display", "block")
               $('#dvContents').css("filter", "blur(3px)");
               $('.body-content').fadeOut(500);
               $(".body-content").fadeIn(500);
           });
           $(document).ajaxComplete(function () {
               $("#wait").css("display", "none");
               $('#dvContents').css("filter", "none");
           });

       });

</script>